body {
  background-color: #121212; /* Dark color for background */
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden; /* Prevent overflow */
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border-radius: 13px;
  border: 2px solid rgb(240, 204, 48); /* Gold outline */
  background-color: #121212; /* Dark background */
  color: rgb(240, 204, 48); /* Gold text */
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.battery-table {
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: -10px;
  width: 60%; /* Make the table take up the full width of the container */
  border-radius: 13px; /* Add curved corners to the table */
  overflow: hidden; /* Ensure the corners are visible */
}

.battery-table th,
.battery-table td {
  border: 1px solid #121212;
  color: #121212;
  padding: 8px;
  text-align: center;
}

.battery-table th {
  background-color: #121212;
  color: rgb(240, 204, 48);
}

.battery-in {
  background-color: #1e6d1e; /* Green color */
}

.battery-out {
  background-color: #68291e; /* Red color */
}

h1 {
  text-align: center;
  color: rgb(240, 204, 48);
  position: relative;
  margin-bottom: 20px; /* Add spacing below the title */
}

h2 {
  text-align: center;
  color: rgb(240, 204, 48);
  margin-bottom: 20px; /* Add spacing below the time */
}

.container {
  text-align: center;
  width: 100%;
  position: relative;
}

.table-container {
  width: 80%; /* Adjust this value to change the width of the table container */
  margin-left: 50px; /* Adjust this value to move the table further left or right */
}

.chart-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 300px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
}