/* Background */
body {
  background-color: #1e1e1e;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

/* Battery Text Box */
input[type="text"] {
  width: 300px;
  padding: 10px;
  border-radius: 13px;
  border: 2px solid rgb(240, 204, 48);
  background-color: #121212;
  color: rgb(240, 204, 48);
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

/* Battery Table Movement */
.battery-table {
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: -15px;
  width: 60%;
  border-radius: 13px;
  overflow: hidden;
}

/* Battery Table Border */
.battery-table th,
.battery-table td {
  border: 1px solid #121212;
  color: rgb(240, 204, 48);
  padding: 8px;
  text-align: center;
}

/* Battery Table Header */
.battery-table th {
  background-color: #121212;
  color: rgb(240, 204, 48);
}

/* Status Color IN */
.battery-in {
  background-color: #256c25;
}

/* Status Color OUT */
.battery-out {
  background-color: #672a1f;
}

/* HoundBattery title */
h1 {
  text-align: center;
  color: rgb(240, 204, 48);
  position: relative;
  margin-bottom: 20px;
}

/* Clock Color */
h2 {
  text-align: center;
  color: rgb(240, 204, 48);
  margin-bottom: 20px;
}

/* Right Table Position */
.container {
  text-align: center;
  width: 100%;
  position: relative;
}

/* Battery Table Width */
.table-container {
  width: 80%;
  margin-left: 50px;
}

/* Cycle Chart */
.chart-container {
  position: absolute;
  bottom: -183px;
  right: 120px;
  width: 455px;
  height: 400px;
}

/* Best Battery Title */
.best-battery-title {
  text-align: center;
  color: rgb(240, 204, 48);
  position: absolute;
  font-size: 35px;
  top: 170px;
  right: 177px;
  z-index: 1;
}

/* Best Battery Table */
.best-battery {
  position: absolute;
  top: 190px;
  right: 130px;
  width: 250px;
  height: 90px;
  text-align: center;
  background-color: #121212;
  padding: 80px;
  border-radius: 10px;
  border: 2px solid rgb(240, 204, 48);
}

/* Current best battery  */
.best-battery-name {
  font-size: 65px;
  color: #32CD32;
  margin-top: -10px;
  font-weight: bold;
  font-family: 'Ariel', sans-serif;
  text-shadow: 2px 2px 4px rgba (0, 0, 0, 0.5);
}

/* Battery plugged in duration */
.best-battery-timer {
  font-size: 39.9px;
  color: #32CD32;
  margin-top: -35px;
}